:root{
    --primary-color: #007bff; /* Azul */
    --secondary-color: #6c757d; /* Cinza */
    --highlight-color: #ffc107; /* Amarelo */  
    --light-gray: #f2f2f2;
    --medium-gray: #cccccc;
    --dark-gray: hsl(0, 0%, 40%);
    --dark-gray-32: #363636;
    --write: #fff;
    --light-green: #a1d99b;
    --medium-green: #74c476;
    --dark-green: #31a354;
    --lightest-green: #d9ead3;
    --light-green: #a1d99b;
    --medium-light-green: #74c476;
    --medium-green: #41ab5d;
    --medium-dark-green: #238b45;
    --dark-green: #005a32;
    --darkest-green: #00441b;
    --back: #000000;
    
  
}

