.header{
    background-color: var(--write);
    box-shadow: 1px 1px 4px var(--darkest-green);
    height: 80px;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: end;
    
}

.header button {
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.header-items{
    display: flex;
    justify-content: end;
    align-items: center;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    font-weight: bold;

}

.user-profile{
    height: 100%;
    width: 80px;
}

#avatar-profile{
    height: 100%;
    width: 45px;

}

.header-items ul{
    margin: 0;
    padding: 0;
}

.header-items li{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    border-radius: 10%;
}

.header-items li:hover{
    background-color:var(--medium-green);
    color:var(--white);
}

.content{
    width: 100%;
}

.menu-toggle{
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: none;
}